.is-bouncy {
  animation-name: bounce;
  animation-timing-function: cubic-bezier(0.28, 0.84, 0.42, 1); }

@keyframes bounce {
  0% {
    transform: scale(1, 1) translateY(0); }
  10% {
    transform: scale(1.1, 0.9) translateY(0); }
  30% {
    transform: scale(0.9, 1.1) translateY(-20px); }
  50% {
    transform: scale(1.05, 0.95) translateY(0); }
  57% {
    transform: scale(1, 1) translateY(-7px); }
  64% {
    transform: scale(1, 1) translateY(0); }
  100% {
    transform: scale(1, 1) translateY(0); } }

.is-brand {
  background: #004ba8; }

.is-brand-gradient {
  background: #004ba8;
  background: linear-gradient(0deg, #004ba8, #0062db); }

.is-font-brand-gradient {
  color: #004ba8;
  color: linear-gradient(0deg, #004ba8, #0062db); }

.hero {
  height: 100vh;
  color: #fff; }
  .hero .background-text {
    position: absolute;
    width: 100%;
    height: 100vh;
    display: flex;
    z-index: 0; }
    .hero .background-text p {
      margin: auto;
      text-align: center;
      font-size: 50vh;
      color: rgba(255, 255, 255, 0.05);
      font-weight: bold;
      line-height: 1; }
  .hero .hero-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1; }
    .hero .hero-body img {
      height: 200px;
      border-radius: 50%;
      border: solid 4px white; }
    .hero .hero-body .title {
      color: #fff;
      font-size: 5rem; }
    .hero .hero-body .subtitle {
      color: #fff; }
  .hero .hero-foot p {
    text-align: center;
    font-size: 2rem; }
    .hero .hero-foot p i {
      animation-duration: 2s;
      animation-iteration-count: infinite; }

.navbar .navbar-item,
.navbar .navbar-link {
  color: #fff; }

.navbar .navbar-link.is-active,
.navbar .navbar-link:focus,
.navbar .navbar-link:focus-within,
.navbar .navbar-link:hover,
.navbar a.navbar-item.is-active,
.navbar a.navbar-item:focus,
.navbar a.navbar-item:focus-within,
.navbar a.navbar-item:hover {
  background: rgba(0, 0, 0, 0.25);
  color: #fff; }

.section {
  text-align: left; }
  .section p {
    margin-bottom: 1.25rem; }

.skills .skill {
  text-align: left; }
  .skills .skill span {
    float: right;
    color: #004ba8; }

.education .location {
  color: #004ba8; }
