.navbar {

    .navbar-item,
    .navbar-link {
        color: $font-color-white;
    }

    .navbar-link.is-active,
    .navbar-link:focus,
    .navbar-link:focus-within,
    .navbar-link:hover,
    a.navbar-item.is-active,
    a.navbar-item:focus,
    a.navbar-item:focus-within,
    a.navbar-item:hover {
        background: rgba(0, 0, 0, .25);
        color: $font-color-white;
    }
}