body {
    font-family: 'Karla', sans-serif;
    color: $font-color-black;
    font-size: 16px;
}

a,
a:visited {
    color: $middle;
}

.navbar-item,
.navbar-item:visited {
    color: $font-color-white;
    text-decoration: none;
}